---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div
  class="border-2 p-4 w-full border-zinc-900 rounded-lg shadow-zinc-800 card-shadow h-64"
>
  <a href={href} class="space-y-2">
    <h2 class="text-5xl">
      {title}
    </h2>
    <p>
      <slot />
    </p>
  </a>
</div>

<style>
  .card-shadow {
    box-shadow: var(--tw-shadow-color) 7px 7px;
  }
</style>
