---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div
  class="border-2 p-6 pb-8 w-full border-zinc-900 rounded-lg shadow-zinc-800 card-shadow bg-zinc-50 h-full"
>
  <a href={href} class="space-y-4">
    <h2 class="text-5xl">
      {title}
    </h2>
    <div>
      <slot />
    </div>
  </a>
</div>

<style>
  .card-shadow {
    box-shadow: var(--tw-shadow-color) 7px 7px;
  }
</style>
